#north {
	position: absolute;
	top: 0px;
	height: 3.3ex;
	bottom: auto;
	left: 0px;
	right: 0px;
	width: 100%;
	padding: 0px; margin: 0px;
	border-bottom: 1px dashed black;
}

#north div {
	font-size: 2.9ex;
}

#west {
	top: 4ex;
}

#east {
	top: 4ex;
}

#center {
	margin-top: 4ex;
}
