<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory name="foo">

		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<mapping package="de.schildbach.portal.persistence" />

		<mapping class="de.schildbach.portal.persistence.content.Content" />

		<mapping class="de.schildbach.portal.persistence.mail.Mail" />

		<mapping class="de.schildbach.portal.persistence.user.Subject" />
		<mapping class="de.schildbach.portal.persistence.user.SubjectRelation" />
		<mapping class="de.schildbach.portal.persistence.user.User" />
		<mapping class="de.schildbach.portal.persistence.user.UserRole" />
		<mapping class="de.schildbach.portal.persistence.user.UserHolidays" />
		<mapping class="de.schildbach.portal.persistence.user.SystemAccount" />
		<mapping class="de.schildbach.portal.persistence.user.Image" />

		<mapping class="de.schildbach.portal.persistence.game.Game" />
		<mapping class="de.schildbach.portal.persistence.game.SingleGame" />
		<mapping class="de.schildbach.portal.persistence.game.GameGroup" />
		<mapping class="de.schildbach.portal.persistence.game.GamePlayer" />
		<mapping class="de.schildbach.portal.persistence.game.GameConditionalMoves" />
		<mapping class="de.schildbach.portal.persistence.game.GameInvitation" />
		<mapping class="de.schildbach.portal.persistence.game.GameWatch" />
		<mapping class="de.schildbach.portal.persistence.game.SubjectRating" />
		<mapping class="de.schildbach.portal.persistence.game.SubjectRatingHistory" />

	</session-factory>

</hibernate-configuration>